<div id="<%= dom_id artist %>">
  <p>
    <strong>Username:</strong>
    <%= artist.username %>
  </p>

  <p>
    <strong>About artist:</strong>
    <%= artist.about_artist %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= artist.created %>
  </p>

</div>
